<div id="brand" class="content_block centered">
  <h2 class="blue uppercase"><%= @brand.title %></h2>
  <div class="block">
    <div class="image">
      <%= image_tag @brand.image(:medium) %>
    </div>
    <div class="gray">
      <p><%#= @brand.description %></p>
    </div>
  </div>

  <div class="block">
    <div class="gray_form">
      <div class="left">
        <p>Свяжитесь с нами, чтобы получить прайс-лист и узнать условия доставки.</p>
        <p class="number">Номер специалиста:<br>8 800 2000 600</p>
      </div>
      <div class="right">
        <%= form_for Order.new, remote: true do |f| %>
        <%= f.text_field :name, class: "uppercase", placeholder:
            "имя", required: true %>
        <%= f.text_field :phone, class: "uppercase", placeholder:
            "телефон", required: true %>
        <%= f.submit "отправить заявку" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="clear"></div>
  
  <h2 class="blue uppercase">ТОВАРЫ</h2>
  <% @brand.products.each do |product| %>
  <div class="block">
    <div class="image">
      <%= image_tag product.image(:medium) %>
    </div>
    <h4 class="blue uppercase"><%= product.title %></h4>
    <div class="gray">
      <p><%= product.description %></p>
    </div>
  </div>
  <div class="clear"></div>
  <% end %>
</div>
