<div ng-controller="CalcCtrl as calc">
<div id="map">
<google-map center="map.center" options="map.options"
            zoom="map.zoom" draggable="true">
  <marker ng-repeat="city in cities" coords="city"
          icon="city.icon" click="cityClick(city)" 
          options="marker.options">
  </marker>
  <polyline path="path" geodesic="true">
</polyline>
</google-map>
</div>
<div id="calculator">
  <div class="calculator">
    <div class="main_form">
      <div class="top">
        <div class="right_part">
          <div class="point">
            <div class="title darkblue uppercase">Откуда</div>
            <input type="text" ng-model="startPoint.query">
          </div>
          <div class="point">
            <div class="title darkblue uppercase">Куда</div>
            <input type="text" ng-model="endPoint.query">
          </div>
          <div class="clear"></div>
          <div class="checkboxes_line">
            <input type="checkbox" id="delivery_from" hidden/>
            <label for="delivery_from">Доставка до пункта отправки</label>
            <input type="checkbox" id="delivery_to" hidden/>
            <label for="delivery_to">Доставка по адресу получателя</label>
            <input type="checkbox" id="delivery_fast" hidden/>
            <label for="delivery_fast">Срочный</label>
          </div>
        </div>

        <div class="left_part">
          <div class="present">
            <div class="title darkblue uppercase">Что везем</div>
            <input class="big" type="text" placeholder="Описание груза">
            <input class="small" type="text" ng-model="kg" integer placeholder="Вес"> кг
            <input class="small" type="text" ng-model="m3" integer placeholder="Объем"> м&sup3;
          </div>
          <div class="checkboxes_line">
            <input type="checkbox" id="small" hidden/>
            <label for="small">Негабаритный</label>
            <input type="checkbox" id="merged" hidden/>
            <label for="merged">Сборный</label>
            <input type="checkbox" id="check" hidden/>
            <label for="check">Контроль качества и количества</label>
          </div>
        </div>

        <div class="clear"></div>
      </div>
      <div class="clear"></div>
      <div class="down">
        <div class="left_part">
          <div class="selectors">
            <div class="visual"></div>

            <div class="prices">
              
              
              
              
              <div class="clear"></div>
            </div>

            <div class="images">
              <input id="ship" ng-model="transport" value="ship" type="radio" hidden/>
              <label for="ship" class="image">
                <div class="icon ship"></div>
                <div class="price">40 дней<br>от 5 000 Р</div>
              </label>
              <input id="train" ng-model="transport" value="train" type="radio" hidden/>
              <label for="train" class="image">
                <div class="icon train"></div>
                <div class="price">25 дней<br>от 15 000 Р</div>
              </label>
              <input id="auto" ng-model="transport" value="auto" type="radio" hidden/>
              <label for="auto" class="image">
                <div class="icon auto"></div>
                <div class="price">15 дней<br>от 25 000 Р</div>
              </label>
              <input id="plain" ng-model="transport" value="plane" type="radio" hidden/>
              <label for="plain" class="image">
                <div class="icon plane"></div>
                <div class="price">3 дня<br>от 50 000 Р</div>
              </label>
              <div class="clear"></div>
            </div>
          </div>
          <div class="clear"></div>
          <div class="selector_description lightred" ng-show="transport=='ship'">
            Перевозка морским путем, это самый дешевый и долгий способ доставки от 40 до 60 дней. Груз перевозится только в контейнерах.
          </div>
          <div class="selector_description lightred" ng-show="transport=='train'">
            Перевозка по железным дорогам занимает от 14 до 26 дней.
          </div>
          <div class="selector_description lightred" ng-show="transport=='auto'">
            Грузовой автотранспорт может забрать и доставить груз из любой точки страны.
          </div>
          <div class="selector_description lightred" ng-show="transport=='plane'">
            Самый дорогой и быстрый способ доставки от 3 до 12 дней.
          </div>
          <div class="price_block">
            <div class="title darkblue uppercase">Предварительная стоимость:</div>
            <div class="price lightred">~{{countTotalPrice()}} Р</div>
          </div>
        </div>
        <div class="right_part">
          <div class="big_title darkblue">Дополнительные услуги</div>
          <input type="checkbox" id="search"
                 ng-model="dopSearch" hidden/>
          <label for="search">Поиск товаров и производителей</label><br>
          <input type="checkbox" id="checking"
                 ng-model="dopChecking" hidden/>
          <label for="checking">Экспертиза товара</label><br>
          <input type="checkbox" id="stock"
                 ng-model="dopStock" hidden/>
          <label for="stock">Временное складирование</label><br>
          <input type="checkbox" id="travel"
                 ng-model="dopTravel" hidden/>
          <label for="travel">Организация поездки в китай</label>
        </div>
        <div class="clear"></div>
        <div class="order_form">
          <div class="left">
            <p>Мы посчитаем точную стоимость доставки с учетом указанных вами данных и перезвоним вам в течении нескольких минут.</p>
            <p class="number">Номер специалиста:<br>8 800 2000 600</p>
          </div>
          <div class="right">
            <%= form_for Order.new, remote: true do |f| %>
            <%= f.text_field :name, class: "uppercase", placeholder:
            "имя", required: true %>
            <%= f.text_field :phone, class: "uppercase", placeholder:
            "телефон", required: true %>
            <%= f.submit "отправить заявку" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="how">
  <div class="how content_block centered" id="how-tabs">
    <h2 class="blue uppercase">Как мы работаем</h2>
    <div class="how_picture"></div>
    <ul class="how_menu">
      <li class="arrow active"><a href="#how-tabs-1">Поиск товаров</a></li>
      <li class="arrow hover"><a href="#how-tabs-2">Подготовка груза</a></li>
      <li class="arrow"><a href="#how-tabs-3">Транспортировка</a></li>
      <li class="arrow"><a href="#how-tabs-4">Получение товара</a></li>
      <div class="clear"></div>
    </ul>
    <div class="how_text" id="how-tabs-1">
      Ни для кого не секрет, что производство товаров с наименьшими издержками чаще всего находится в китае. Большинство брендов с мировым именем, такие как Microsoft, Apple, Prada уже давно перенесли свои производственные базы в Китай. <br>Наша роль — помочь вам найти необходимый товар и транспортировать его в Россию. Не обладая информацией об уровне внутренних цен на товары  многие иностранные поставщики преобретают продукт по завышенной цене. Договариться с производителями о самых низких оптовых ценах — задача не из простых, наш опыт успешного  сотрудничества в этой сфере поможет вам избежать любых сложностей. <br>Вам необязательно ехать в Китай, чтобы все прошло гладко. Проводимые нами экспертизы и сравнения продуктов от разных производителей, образцы товаров, высылаемые почтой, обеспечат ваше спокойствие за качество преобретаемого продукта. <br>Для желающих лично проконтролировать выбор и доставку товаров — мы организуем туры с переводчиком, проводим экскурсии по Китаю. Мы организуем личное знакомство с производителями, посещение различных ярмарок — таких в Китае достаточно. Вы принемаете решения, мы обеспечиваем вас квалифицированной поддержкой: переводчик, юристы и специалисты по грузоперевозкам.
    </div>
    <div class="how_text" id="how-tabs-2">
      Ни для кого не секрет, что производство товаров с наименьшими издержками чаще всего находится в китае. Большинство брендов с мировым именем, такие как Microsoft, Apple, Prada уже давно перенесли свои производственные базы в Китай. <br>Наша роль — помочь вам найти необходимый товар и транспортировать его в Россию. Не обладая информацией об уровне внутренних цен на товары  многие иностранные поставщики преобретают продукт по завышенной цене. Договариться с производителями о самых низких оптовых ценах — задача не из простых, наш опыт успешного  сотрудничества в этой сфере поможет вам избежать любых сложностей.
    </div>
    <div class="how_text" id="how-tabs-3">
      Для желающих лично проконтролировать выбор и доставку товаров — мы организуем туры с переводчиком, проводим экскурсии по Китаю. Мы организуем личное знакомство с производителями, посещение различных ярмарок — таких в Китае достаточно. Вы принемаете решения, мы обеспечиваем вас квалифицированной поддержкой: переводчик, юристы и специалисты по грузоперевозкам.
    </div>
    <div class="how_text" id="how-tabs-4">
      Вам необязательно ехать в Китай, чтобы все прошло гладко. Проводимые нами экспертизы и сравнения продуктов от разных производителей, образцы товаров, высылаемые почтой, обеспечат ваше спокойствие за качество преобретаемого продукта. <br>Для желающих лично проконтролировать выбор и доставку товаров — мы организуем туры с переводчиком, проводим экскурсии по Китаю. Мы организуем личное знакомство с производителями, посещение различных ярмарок — таких в Китае достаточно. Вы принемаете решения, мы обеспечиваем вас квалифицированной поддержкой: переводчик, юристы и специалисты по грузоперевозкам.
    </div>
  </div>
</div>

<div id="questions">
  <div class="questions content_block centered" id="q-tabs">
    <h2 class="blue uppercase">Вопросы</h2>
    <ul class="tabs">
      <% @question_categories.each_with_index do |category, i| %>
      <li class="tab">
        <a href="<%= "#q-tabs-#{i+1}" %>"><%= category.title %></a>
      </li>
      <% end %>
    </ul>
    <div class="clear"></div>

    <%= render "order_form" %>

    <% @question_categories.each_with_index do |category, i| %>
    <div class="questions_container"  id="<%= "q-tabs-#{i+1}" %>">
      <script>
        $(function() {
          $("<%= "#q-tabs-#{i+1}" %>").tabs();
        });
      </script>
      <ul class="questions_list">
        <% category.questions.each_with_index do |question, j| %>
        <li>
          <a href="<%= "#q-tabs-#{i+1}-#{j+1}" %>" class="blue dotted">
            <span class="clear_link">&mdash; </span><%= question.title %>
          </a>
        </li>
        <% end %>
      </ul>
      <% category.questions.each_with_index do |question, j| %>
      <div class="answer" id="<%= "q-tabs-#{i+1}-#{j+1}" %>">
        <%= question.body %>
      </div>
      <% end %>
    </div>
    <% end %>
    
    <div class="clear"></div>
  </div>
</div>

<div id="catalog" class="content_block centered">
  <h2 class="blue uppercase"><a name="catalog">Каталог производителей</a></h2>
  <% @top_cats.each do |cat| %>
  <div class="block">
    <div class="image">
      <%= image_tag cat.image.url(:medium) %>
    </div>
    <h4 class="blue uppercase"><%= cat.title %></h4>
    <div class="links">
      <% cat.sub_categories.each do |subcat| %>
      <span class="sub_links_level_1">
        <%= link_to subcat.title,
            subcat,
            {class: "gray underline"} %>
      </span>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="clear"></div>
  <span class="blue uppercase dotted">показать еще</span>
</div>

<div id="about">
  <div class="right" class="content_block">
    <h2 class="white uppercase white_line">О компании</h2>
    <p class="white">Представьте, что вы заказываете комплектующие для своего производства на несколько миллионов рублей. Для вас важно все: сроки, коммиссия за переводы, местонахождение груза. Вы хотите довериться квалифицированным специалистам и быть спокойным за результат? — Мы всегда остаёмся на связи.</p>
  </div>
</div>

<div id="reviews" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @reviews.each do |review| %>
    <div class="review item <%= 'active' if review==@reviews.first %>">
      <div class="image">
        <%= image_tag review.photo(:medium) %>
      </div>
      <div class="review_text">&mdash; <%= review.body %></div>
      <div class="review_author"><%= review.name %></div>
    </div>
    <% end %>
  </div>
  <a class="right carousel-control" href="#reviews" data-slide="next">
    <div class="next_review uppercase">Следующий отзыв</div>
  </a>
  <div class="clear"></div>
</div>
