<div id="how">
  <div class="how content_block centered">
    <h2 class="blue uppercase">Как мы работаем</h2>
    <div class="how_picture"></div>
    <ul class="how_menu">
      <li class="arrow active uppercase">Поиск товаров</li>
      <li class="arrow hover uppercase">Подготовка груза</li>
      <li class="arrow uppercase">Транспортировка</li>
      <li class="arrow uppercase">Получение товара</li>
      <div class="clear"></div>
    </ul>
    <div class="how_text">
      Ни для кого не секрет, что производство товаров с наименьшими издержками чаще всего находится в китае. Большинство брендов с мировым именем, такие как Microsoft, Apple, Prada уже давно перенесли свои производственные базы в Китай. <br>Наша роль — помочь вам найти необходимый товар и транспортировать его в Россию. Не обладая информацией об уровне внутренних цен на товары  многие иностранные поставщики преобретают продукт по завышенной цене. Договариться с производителями о самых низких оптовых ценах — задача не из простых, наш опыт успешного  сотрудничества в этой сфере поможет вам избежать любых сложностей. <br>Вам необязательно ехать в Китай, чтобы все прошло гладко. Проводимые нами экспертизы и сравнения продуктов от разных производителей, образцы товаров, высылаемые почтой, обеспечат ваше спокойствие за качество преобретаемого продукта. <br>Для желающих лично проконтролировать выбор и доставку товаров — мы организуем туры с переводчиком, проводим экскурсии по Китаю. Мы организуем личное знакомство с производителями, посещение различных ярмарок — таких в Китае достаточно. Вы принемаете решения, мы обеспечиваем вас квалифицированной поддержкой: переводчик, юристы и специалисты по грузоперевозкам.
    </div>
  </div>
</div>

<div id="questions">
  <div class="questions content_block centered">
    <h2 class="blue uppercase">Вопросы</h2>
    <ul class="tabs">
      <li class="tab uppercase active">Активную сделать не забыть!</li>
      <% @question_categories.each do |category| %>
      <li class="tab uppercase"><%= category.title %></li>
      <% end %>
    </ul>
    <div class="clear"></div>
    <% @question_categories.each do |category| %>
    <div class="questions_container">
      <ul class="questions_list">
        <li class="active">
          <a href="" class="blue dotted"><span class="clear_link">&mdash; Активная ссылка</a>
        </li>
        <% category.questions.each do |question| %>
        <li>
          <a href="" class="blue dotted"><span class="clear_link">&mdash; </span><%= question.title %></a>
        </li>
        <% end %>
      </ul>
      <% category.questions.each do |question| %>
      <div class="answer" id="question-<%= question.id %>">
        <%= question.body %> 
      </div>
      <% end %>
    </div>
    <% end %>
    <form action="" method="post" class="ask_form">
      <input type="text" placeholder="ИМЯ">
      <input type="text" placeholder="НОМЕР ТЕЛЕФОНА">
      <textarea name="" id="" cols="30" rows="10">ВОПРОС</textarea>
      <input type="submit" placeholder="СПРОСИТЬ У ЭКСПЕРТА">
    </form>
    <div class="clear"></div>
  </div>
</div>

  <div id="catalog" class="content_block centered">
    <h2 class="blue uppercase">Каталог</h2>
    <% @top_cats.each do |cat| %>
    <div class="block">
      <div class="image">
        <%= image_tag cat.image.url(:medium) %>
      </div>
      <h4 class="blue uppercase"><%= cat.title %></h4>
      <div class="links">
        <% cat.sub_categories.each do |subcat| %>
        <span class="sub_links_level_1"><a href="" class="gray underline"></a></span>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="clear"></div>
  </div>

  <div id="about">
    <div class="left">
      <img src="" alt="">
    </div>
    <div class="right" class="content_block">
      <h2 class="white uppercase white_line">О компании</h2>
      <p>Представьте, что вы заказываете комплектующие для своего производства на несколько миллионов рублей. Для вас важно все: сроки, коммиссия за переводы, местонахождение груза. Вы хотите довериться квалифицированным специалистам и быть спокойным за результат? — Мы всегда остаёмся на связи.</p>
    </div>
  </div>

  <div id="reviews">
    <div class="review">
      <div class="image">
        <img src="" alt="">
      </div>
      <div class="review_text">
        — Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественноследует, что искусство транспонирует даосизм, ломая рамки привычных представлений. Автоматизация нетривиальна. Язык образов подрывает катарсис, tertium nоn datur. Надо сказать, что катарсис не так уж очевиден. Отсюда естественноследует, что искусство транспонирует даосизм, ломая рамки привычных представлений. 
      </div>
      <div class="review_author">Алексеев А.А. партнер</div>
    </div>
    <div class="next_review">Следующий отзыв</div>
  </div>