<div class="faq">
  <ul>
    <% @question_categories.each do |category| %>
    <li><%= category.title %></li>
    <% end %>
  </ul>

  <% @question_categories.each do |category| %>
  <ul>
    <% category.questions.each do |question| %>
    <li><%= question.title %></li>
    <% end %>
  </ul>
  <% category.questions.each do |question| %>
  <div class="question-body">
    <%= question.body %>
  </div>
  <% end %>
  <% end %>
</div>
<div class="catalog">
  <% @top_cats.each do |cat| %>
  <div class="top-category">
    <h3><%= cat.title %></h3>
    <%= image_tag cat.image.url(:medium) %>
    <% cat.sub_categories.each do |subcat| %>
    <span><%= subcat.title %></span>
    <% end %>
  </div>
  <% end %>
</div>
