<div id="docs" class="content_block centered">
  <h2 class="blue uppercase">Образцы документов</h2>
  <div class="left_part">
    <% @docs.each do |doc| %>
    <div class="document">
      <div class="image">
	<%= image_tag extension_image(doc.file.url) %>
      </div>
      <h3 class="doc_title blue underline"><%= link_to doc.title, doc.file.url %></h3>
      <p class="doc_description black"><%= doc.description %></p>
      <%= link_to "", doc.file.url, {class: "download_link"} %>
    </div>
    <% end %>
  </div>
  <div class="right_part">
    <div class="expert">
      <img src="" alt="">
      <div class="name">Алексеев А.А., <br>менеджер</div>
    </div>
    <%= render "landing/order_form" %>
  </div>
  <div class="clear"></div>
  <br><br>
</div>
