<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Континент - грузоперевозки из китая</title>
    <meta charset="UTF-8">
    <style>
      @import url(http://fonts.googleapis.com/css?family=Jura:500&subset=latin,cyrillic);
      @import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,300&subset=latin,cyrillic);
    </style>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="loader"></div>

    <div id="header">
      <div class="header centered">
        <div class="header_logo">
          <a class="black clear_link" href="/"><h1>Континент</h1></a>
          <h3>Грузоперевозки из Китая</h3>
        </div>
        <div class="menu">
          <ul class="top_menu">
            <li>
              <%= link_to "дополнительные услуги", :services,
                  {class: "underline blue uppercase"} %>
            </li>
            <li><a href="/#catalog" class="underline blue uppercase">производители в Китае</a></li>
            <li><a href="#contacts" class="underline blue uppercase">контакты</a></li>
            <li><span class="docs_example">
                <%= link_to "образцы документов", :docs,
                    {class: "underline black uppercase"} %>
            </span></li>
          </ul>
        </div>
        <div class="order_part">
          <div class="phone">8 800 2000 600</div>
          <a href="" id="order_form_button" class="dotted orange uppercase">заказать звонок</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>

    <%= yield %>

    <div id="footer">
      <div class="russia">
	<h5 class="black uppercase"><a name="contacts">офис в челябинске</a></h5>
	<a href="" class="blue dotted">ул. Труда 99б</a>
	<div class="delimeter"></div>
	<h5 class="black uppercase">офис в москве</h5>
	<a href="" class="blue dotted">ул. Труда 99б</a>
      </div>
      <div class="china">
	<h5 class="black uppercase">офис в ганжоа</h5>
	<a href="" class="blue dotted">ул. Труда 99б</a>
	<div class="delimeter"></div>
	<h5 class="black uppercase">офис в пекине</h5>
	<a href="" class="blue dotted">ул. Труда 99б</a>
      </div>
      <div class="contacts">
	<span class="phone">8 800 2000 600</span><br>
	<span class="order_call blue uppercase underline">заказать звонок</span><br>
	<span class="order_call blue uppercase underline">задать вопрос эксперту</span>
      </div>
      <div class="jam">
	<a class="red underline" href="">Разработка сайта</a><br>
	Jam / Интернет-агенство
      </div>
    </div>

  </body>
</html>
